@charset "utf-8";

@font-face{
    font-family:maquina;
    src: url('../font/maquina/escrever.ttf')
}

*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
#principal{
    width: 100%;
    height: 500%;
    position: absolute;
    background-image: url(../img/chuva.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#cabecalho{
    width: 100%;
    height: 20%;
    background-color: rgba (0,0,0,0,7);
    position: fixed;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}
#titulo a{
    display: flex;
    text-align: center;
    position: relative;
    font-size: 3.0vh;
    font-family: maquina;
    color: white;
    text-shadow: 1px 1px 4px #000;
    text-decoration: none;
    transition: 0.5s;
}
#menu_superior{
    width: 100%;
    height: 20%;
    display: flex;
}
#menu_superior ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#menu_superior a,li{
    color: white;
    font-family: maquina;
    font-weight: bold;
    font-size: 2.8vh;
    text-shadow: 1px 1px 4px #000;
    text-decoration: none;
    transition: 0.5s;
}
#ponto,#ponto2,#ponto3,#ponto4,#ponto5,#ponto6,#ponto7,#ponto8{
    color: black;
}
#meu_superior a,li{
    text-shadow: 1px 1px 4px #fff;
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#mapa{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;  
    background-attachment: fixed;
}
#p1{
    background-image: url(../img/batalhao.jpg)
}
#p2{
    background-image:url(../img/soldados.jpg)   
}
#p3{
    background-image: url(../img/sodados2.jpg)
}
#p4{
    background-image: url(../img/aliados.jpg)
}
#p5{
    background-image: url(../img/tanque2.jpg)
}
#p6{
    background-image: url(../img/dia%20d.jpg)
}
#p7{
    background-image: url(../img/hiroshima.jpg)
}
#janela1,#janela2,#janela3,#janela4,#janela5,#janela6,#janela7{
    width: 90%;
    height: 70%;
    background-image: url(../img/fundo_papel.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 6px;
    border-radius: 10px;
    align-items: center;
    color: black;
    font-family: maquina;
    text-decoration: none;
    font-size: 2.0vh;
    font-size-adjust: auto;
}
#texto1,#texto2,#texto3,#texto4,#texto5,#texto6,#texto7{
    margin: 5%;
}
#rodape{
    width: 100%;
    height: 20%;
    background-image: url(../img/militar2.jpg);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
#janela_rodape{
    width: 40%;
    height: 70%;
    font-family: maquina;
    font-weight: bold;
    font-size: 2.8vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 4px;
    border-radius: 10px;
}
#janela_rodape{
    background-image: url(../img/fundo_papel.jpg);
}
#video1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
fieldset{
    margin: 10px;
    border: none;
}
#mapa{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../img/dias.jpg)
}
#mapa1,#mapa2,#mapa3{
    width: 30%;
    height: 50%;
    background-color: aqua;
    box-shadow: 2px 2px 4px;
    border-radius: 10px;
}
#mapa1 iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#mapa2 iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#mapa3 iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}